<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <div class="container flex justify-content-center align-item-center">
        <div class="card">
            <div class="card-title">
                <h1> Sign In to our website!</h1>
            </div>
            <form action="/users/create-session" method="post">
                <div class="mb-1">
                    <label for="userEmail">Email</label>
                    <input class="form-control" type="email" name="uemail" id="userEmail">
                </div>
                <div class="mb-1">
                    <label for="userPassword">Password</label>
                    <input class="form-control" type="password" name="upassword" id="userPassword">
                </div>
                <div class="mb-1 flex  justify-content-between">
                    <!-- <div class="signupLink">
                        <a href="#">Forgot Password?</a>
                    </div> -->
                    <a href="#">Forgot Password</a>
                    <a href="/users/signup">Sign up</a>
                </div>
                <div class="button-group col-center">
                    <button type="submit" class="btn btn-1">Log in</button>
                    <button type="button" class="btn btn-1">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>